@import "tailwindcss";

:root {
  --background: linear-gradient(0deg, #fa3e00 0%, #fa7900 25%, #faab00 50%, #fa7900 75%, #fa3e00 100%);
  --foreground: #171717;
}

@theme {
/* Font Family */
  --font-family-sans: Poppins, system-ui, "Helvetica Neue", Arial, sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

h1{
  font-family: Dynapuff, Arial, Helvetica, sans-serif;
}

.bg-musio {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
    url("/musio-banner.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

